h1, h2 { text-transform: uppercase; font-family: 'Raleway Dots';
}
body { 
	background: url("../images/design.png") no-repeat center fixed; 
    background-size: cover;
	background-repeat: no-repeat;
	background-color: #cbbeb5;
	padding: 100px;
	padding-left: 200px;
	width: 1000px;
	text-align: left;
	color: black;
	
	font-family: 'Raleway', sans-serif;

}

p {line-height: 19px;
   font-size: 16px;
	font-weight: normal;
}
#progress {
/*	background-color: #81d8d0;
*/	float: left;
	width: 420px;
	height: 280px;
	margin: 20px;
	padding: 20px;

}
#challenges {
/*	background-color: #b2d8d8;
*/	float: right;
	width: 420px;
	height: 280px;
	margin: 20px;
	padding: 20px;
}
#crit {
	width: 880px;
	margin: 20px;
	padding: 20px;}

#href {
	font-size: 14px;
	color: black;
}
